<div class="container">
  <div class="hero-image">
    
<div class="col-md-12">
  <div class="row"><div class="col-md-8"><b>Transaction Details of account :-  {{user}}</b></div>
  <div class="col-md-2"><button class="btn" (click)="showTransaction()"><i class="fa fa-refresh"> Refresh</i></button></div>
  <div class="col-md-2"><button class="btn" routerLink="/home"><i class="fa fa-home"> Home</i></button></div>

  </div>
  <fieldset>
    <!-- <legend class="text-center">Sign Up.</legend> -->
    <table class="table table-striped">
    <thead>
    <tr>
      <th>Time</th>
      <th>Receiver</th>
      <th>Bill Ammount</th>
      <th>caption</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tlist of tlists">
          
            <td>{{tlist.t_id.split("#")[1]}}</td>
            <td>{{tlist.t_id.split("#")[2]}}</td>
            <td>{{tlist.t_ammount}}</td>
            <td>{{tlist.caption}}</td>
           
            </tr>
    </tbody>
      </table>
      <!-- <button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button> -->
    </fieldset></div>
</div>
</div>
