body {
    padding-top:50px;
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 40px;
    padding: 20px;
    padding-left: 40px;
    background: #89c0c7b9;
}
legend {
    font-weight: bold;
   color: rgb(255, 255, 255);
}

.form-control {
    text-align: center;
    
    /* width: 95%; */
    border-radius: 100px;
}
label small {
    color: rgb(255, 255, 255) !important;
}

label{
    font-weight: bold;
    color: rgb(255, 255, 255);
}
span.req {
    color:red;
    font-size: 112%;
}

/*+++++++++++++++++++++++++++++*/

.hero-image {
    background-image: linear-gradient(rgba(80, 168, 184, 0.9), rgba(80, 168, 184, 0.2)), url("/assets/logo/Digital.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }