

<div class="container">
    <div class="hero-image">
        <div class="hero-text">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Bank Deposit</legend>

                    <span class="req"><small>
                        required*<br></small></span>
                    <!-- <div class="form-group">
                       
                         <label for="Mobile Number"><span class="req">* </span> Wallet Mobile Number <small>Please Enter Your Wallet Mobile Number.</small> </label>
                                <input class="form-control" type="text" [(ngModel)]="wallet1.mobile_Number" name="mobile_Number" id="mobile_Number"
                                placeholder="Enter your 10 digit Mobile Number (xxxxxxxxx)" required />
                    </div> -->

                    <div class="form-group">
                        <label for="name"><span class="req">* </span> Amount </label>
                        <input class="form-control" type="text" [(ngModel)]="amount" name="Amount" id="Amount" pattern="[0-9]*"
                            placeholder="Enter Transfer Amount" required #amtcontrol ="ngModel" [class.is-invalid]="amtcontrol.invalid && amtcontrol.touched" />
                            <div *ngIf="amtcontrol.invalid && amtcontrol.touched">
                                <span class="req"><i><small>Enter valid Amount</small></i></span>
                            </div>

                    </div>
                    
                    <div class="form-group">
                        <label for="Email id"><span class="req">* </span> Pin </label>
                        <input class="form-control" type="password" [(ngModel)]="password" name="password" id="password" required #pincontrol="ngModel" [class.is-invalid]="pincontrol.invalid && pincontrol.touched"
                            placeholder="Enter Security Pin" />
                            <div *ngIf="pincontrol.invalid && pincontrol.touched">
                                <span class="req"><i><small>Enter valid Security Pin</small></i></span> 
                            </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_Signup" value="Add Balance to Bank" (click)="depositNow()">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-3">
            
        </div>

    </div>
</div>
</div>
</div>

